*.iml
.gradle
/local.properties
/.idea/*
!/.idea/codeStyles
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Android-specific
*.apk
*.aab
*.jks

# Test and debug output
/outputs/
*.test
*.test.json